.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* Light background color */

  > main {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    background-color: #fff; /* White background */
    
    > div {
      width: 100%;
      margin-bottom: 2rem;
      
      input, select {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        transition: border-color 0.3s ease;
        
        &:focus {
          outline: none;
          border-color: #007bff; /* Blue border color on focus */
        }
      }
      
      p {
        text-align: center;
        margin: 2rem 0;
        color: #888; /* Lighter text color */
      }
      
      button {
        width: 100%;
        padding: 1rem;
        background-color: #007bff; /* Blue color */
        color: #fff; /* White text color */
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: #0056b3; /* Darker blue on hover */
        }
      }
      
      svg {
        width: 30px; /* Adjust the size of the icon */
        margin-right: 0.5rem;
      }
      
      span {
        text-align: center;
      }
    }
  }
}
